.first-project{
background:rgba(0,0,0,0.7)url(../rafi-photo/Banner\ Image.png);
background-blend-mode: darken;
width: 1320px;
height: 600px;
margin-top: 50px;
margin-bottom: 120px;
margin-left: 140px;
margin-right: 140px;
border-radius: 16px;

}
.new-year-title{
text-align: center;
padding: 177px 344px;
}
.year{
    font-weight: normal;
    font-size: 32px;
    color: #FFFFFF;
}
.party{
    font-weight: bold;
    font-size: 72px;
    color: #FFFFFF;
    margin-top: 22px;
}
.off-rafi{
    font-weight: bold;
    font-size: 88px;
    margin-left: 609px;
    margin-right: 608px;
    color: #FF0000;
    margin-bottom: 48px;
}
.holiday{
    font-size: 24px;
    font-weight: normal;
    color: #FF0000;
    margin-left: 603px;
    margin-right: 600px;

}
.catagory{
    font-weight: bold;
    font-size: 48px;
    color:#FF0000;
    margin-left: 596px;
    margin-right: 594px;
    margin-top: 16px;
}
.image{
    margin-left: 400px;
    width: 802px;
    height: 500px;
    margin-bottom: 120px;
   
}
.third-project{
    background: rgba(0,0,0,0.7)url(../rafi-photo/Vectorrr.png);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-left: 126px;
    background-blend-mode: darken;
    margin-bottom: 114px;
    
    
}
.midnight{
    font-weight:bold ;
    font-size: 64px;
    color: #FFFFFF;
    margin-top: 124px;
    margin-left: 140px;
}
.amet{
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 140px;
}
.join-me{
    font-weight: bold;
    font-size: 20px;
  color: brown;
  margin-left: 172px;
    
   
}
.baba-1{
    display: flex;
    justify-content: space-between;
   
}
.vector{
    width: 319px;
    height: 464px;
    margin-top: 66px;
    margin-right: 124px;
    margin-bottom: 69px;
}

   